/* Googole Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');



.wrapper {
  min-height: 100vh;
  padding: 0 !important;
  animation: page-fadeIn 1.2s;
}


@keyframes page-fadeIn {
0% { opacity: 0; filter: blur(48px); }
100% { opacity: 1; filter: blur(0); }
}


/* Navbar */

.navbar-center {
  text-align: center !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #120c01;
}

.nav-center {
  min-height: 56px;
  text-align: center !important;
  justify-content: center !important;
  margin: 0 auto !important;
  padding: 0 !important;
  width: 100%;
}


.nav-item {
  width: 110px;
  margin: auto 10px;
}

.navText {
  font-size: 14px;
}


/* Index Page */

.pageHome {
  margin: auto;
}

.home-image {
  text-align: center !important;
  background-image: url("/images/banner_back.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.home-image-front {
  content: url("/images/banner_front2.png");
  width: 85vw;
  max-width: 400px;
  margin: auto !important;
  vertical-align: middle !important;
  padding: calc(180px + 6vw) 0;
}

.home-main {
  text-align: center;
  margin: auto;
  padding: 0;
  background-image: url("/images/background23.jpg");
  background-size: cover;
}

h1 {
  font-size: 80px;
  opacity: 0.03;
  transform: rotate(-90deg);
  position: relative;
  right: 500px;
  top: 580px;
}

h2 {
  font-size: 72px;
  font-size: calc(55.6px + 0.8vw);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0 auto 30px !important;
  background: linear-gradient(to right, #f6a7655f 50%, #fff1b865 80%);
  background: linear-gradient(to right, #119496ad 30%, #fffffbfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* About */

.about {
  margin: auto;
  padding: 0 15px;
  padding-bottom: 80px;
  padding-bottom: calc(50px + 1.5vw);
  max-width: 800px;
}

.aboutText-div {
  max-width: 580px;
  padding-top: 136px;
  padding-top: calc(115px + 2vw);
  margin: auto;
}

.aboutText {
  text-align: left;
  color: black;
  font-size: 19px;
  font-size: calc(15px + 0.2vw);
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  line-height: 2.6rem;
  line-height: calc(2.2rem + 0.32vw);
  margin: 16px auto;
}

.image-dan {
  margin: 80px auto;
  margin: calc(50px + 1.5vw) auto;
  height: 180px;
}

.icon-row {
  margin: auto !important;
  max-width: 640px;
  max-height: calc(20vw - 8px);
}

.skills-div {
  max-width: 580px;
  margin: 40px auto;
}

.skills-icon {
  margin: 5% auto;
  width: 12%;
  width: calc(12.8px + 8%);
  height: auto;
}


/* Projects */

.projects {
  padding: 100px 0 260px;
  background: linear-gradient(180deg, rgba(230,231,226,0) 0%, rgba(200, 200, 200, 0.8) 50%);
}

.projects-div {
  max-width: 1480px;
  margin: 3vw auto 0;
}


.project {
  margin: 40px auto 90px;
  margin: 2vw auto calc(50px + 2vw);
  max-width: 1050px;
}

.project h3 {
  font-size: 36px;
  font-size: calc(27.8px + 0.4vw);
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  margin-bottom: 6px;
}


.project-image-div {
  overflow: hidden;
  box-shadow: 0 0 20px #b0b0b0;
  border-radius: 6px;
  margin-bottom: 12px;
}

.project-image {
  height: 420px;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0;
  margin: auto;
  transition: 0.3s;
}


.project-body {
  padding-left: 40px;
  text-align: left;
}


.project-text {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  line-height: 1.8rem;
  opacity: 0.8;
}

.col-icon-left {
  -webkit-flex: 0 0 24%;
  flex: 0 0 24%;
  max-width: 120px;
}

.col-icon {
  -webkit-flex: 0 0 12%;
  flex: 0 0 12%;
  max-width: 60px;
  padding: 0 !important;
  margin: auto !important;
}

.icon {
  margin: auto 6px !important;
}

.read-more {
  pointer-events: auto;
  font-size: 16px;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-left: 8px;
}

.arrow-icon {
  margin-left: 2px !important;
}

.projects a {
  color: white !important;
}

.projects a:hover {
  opacity: 1;
}


/* Carousel */

.react-multi-carousel-dot button {
  border-style: none !important;
  margin-right: 10px !important;
}

.react-multi-carousel-dot--active button {
  background: #05858e !important;
}



/* Footer */

.footer {
  padding: 100px 0 80px;
  padding: calc(59px + 2vw) 0 calc(39px + 2vw);
  background-color: #120c01;
  color: #60b5bd;
  font-family: "raleway";
  text-align: center;
  font-size: 15px;
  font-size: calc(11.16px + 0.2vw);
}

.footer h4 {
  margin: 0 auto 24px;
  font-size: 48px;
  font-size: calc(39.8px + 0.4vw);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  background: linear-gradient(to right, #119496ad 30%, #fffffbfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-icons {
  margin-top: 6px;
}

.menu-icon {
  margin-top: 4px !important;
  margin-right: 6px !important;
  margin-left: 12px !important;
}

.footer-copyright {
  margin-top: 80px;
  margin-top: calc(39px + 2vw);
  font-size: 16px;
  font-size: calc(12px + 0.2vw);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  background: linear-gradient(to right, #119496ad 30%, #fffffbfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* Project Page */

.home-design {
  max-width: 1140px;
  margin: 40px auto;
  padding: 0 15px 80px;
  background-color: white;
  box-shadow: 0 0 20px #b0b0b0;
}

.breadcrumb-div {
  padding: 6px 0;
  max-width: 1200px;
  margin: auto;
}

.breadcrumb {
  background-color: white !important;
}

.ui.breadcrumb a {
  color: #05858e;
}


.carousel {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 6px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}


.carousel-image {
  height: 400px;
  max-height: calc(40vw - 20px);
  width: auto;
  margin: 0 auto !important;
  box-shadow: 0 0 20px #b0b0b0;
}


.open-app-btn {
  font-size: 16px;
  color: #05858e;
  margin: 40px auto 0;
  text-align: center;
  opacity: 0.8;
}

.open-app-btn:hover {
  opacity: 1;
}

.project-page-text {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 12px;
  color: black;
  font-size: 17px;
  font-size: calc(15px + 0.1vw);
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

.project-page-text h4 {
  font-size: 17px;
  font-size: calc(15px + 0.1vw);
  font-weight: 400;
}



/* Animations */

.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}


@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
