/* Googole Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');


.wrapper {
  min-height: 100vh;
  padding: 0 !important;
  animation: page-fadeIn 1.2s;
}


@keyframes page-fadeIn {
0% { opacity: 0; filter: blur(48px); }
100% { opacity: 1; filter: blur(0); }
}


/* Navbar */

.navbar-center {
  text-align: center !important;
  margin: 0 !important;
  padding: 0 !important;
  /* background-color: white; */
  background-color: #120c01;
}

.nav-center {
  min-height: 56px;
  text-align: center !important;
  justify-content: center !important;
  margin: 0 auto !important;
  padding: 0 !important;
  width: 100%;
}


.nav-item {
  width: 110px;
  margin: auto 10px;
}

.navText {
  font-size: 14px;
}


/* Index Page */

.pageHome {
  margin: auto;
}

.home-image {
  text-align: center !important;
  background-image: url("/images/banner_back.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.home-image-front {
  content: url("/images/banner_front2.png");
  width: 85vw;
  max-width: 400px;
  margin: auto !important;
  vertical-align: middle !important;
  padding: calc(140px + 5vw) 0;
}

.home-main {
  text-align: center;
  margin: auto;
  padding: 0 15px;
}

h2 {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
  color: #60b5bd;
  margin: 0 auto 26px;
}



/* About */

.about {
  margin: 70px auto;
  padding: 0 15px;
  padding-bottom: 80px;
  padding-bottom: calc(50px + 1.5vw);
  max-width: 800px;
  background-color: white;
  box-shadow: 0 0 20px #b0b0b0;
}

.aboutText-div {
  max-width: 580px;
  padding-top: 96px;
  padding-top: calc(55px + 2vw);
  margin: auto;
}

.aboutText {
  text-align: center;
  color: black;
  font-size: 17px;
  font-size: calc(15px + 0.1vw);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 2.2rem;
  line-height: calc(2.0rem + 0.16vw);
  margin: 16px auto;
}

.image-dan {
  margin: 70px auto 120px;
  margin: calc(40px + 1.5vw) auto calc(90px + 1.5vw);
  height: 110px;
}

.icon-row {
  margin: auto !important;
  max-width: 600px;
  max-height: calc(20vw - 8px);
}

.skills-icon {
  margin: 5%;
  width: 10%;
  height: auto;
}


/* Projects */

.projects {
  max-width: 1480px;
  margin: 3vw auto;
  padding-top: 100px;
  background-color: black;
}

.project-col {
  padding: 0 1.75%;
}

.project {
  margin: 30px auto 90px;
  margin: 1.5vw auto calc(50px + 2vw);
  box-shadow: 0 0 20px #b0b0b0;
  max-width: 400px;
}

.project h3 {
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  margin-bottom: 6px;
}


.project-image-div {
  overflow: hidden;
}

.project-image {
  height: 370px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0;
  margin: auto;
  transition: 0.3s;
}

.project-image:hover {
  /* opacity: 0.9; */
  transform: scale(1.08);
}

.project-body {
  padding: 18px;
  text-align: left;
  background-color: #2b5270;
  color: white;
}


.project-text {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  line-height: 1.7rem;
  height: 5.6rem;
}

.col-icon-left {
  -webkit-flex: 0 0 24%;
  flex: 0 0 24%;
  max-width: 120px;
}

.col-icon {
  -webkit-flex: 0 0 12%;
  flex: 0 0 12%;
  max-width: 60px;
  padding: 0 !important;
  margin: auto !important;
}

.icon {
  margin: auto 6px !important;
}

.read-more {
  pointer-events: auto;
  font-size: 16px;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-left: 8px;
}

.arrow-icon {
  margin-left: 2px !important;
}

.projects a {
  color: white !important;
  /* opacity: 0.9; */
}

.projects a:hover {
  opacity: 1;
}



/* Footer */

.footer {
  padding: 100px 0 80px;
  padding: calc(59px + 2vw) 0 calc(39px + 2vw);
  background-color: #120c01;
  color: #60b5bd;
  font-family: "raleway";
  text-align: center;
  font-size: 15px;
  font-size: calc(11.16px + 0.2vw);
}

.contact-icons {
  margin-top: 6px;
}

.menu-icon {
  margin-top: 4px !important;
  margin-right: 6px !important;
  margin-left: 12px !important;
}

.footer-copyright {
  margin-top: 80px;
  margin-top: calc(39px + 2vw);
}



/* Project Page */

.home-design {
  max-width: 1140px;
  margin: 40px auto;
  padding: 0 15px 80px;
  background-color: white;
  box-shadow: 0 0 20px #b0b0b0;
}

.breadcrumb-div {
  padding: 6px 0;
  max-width: 1200px;
  margin: auto;
}

.breadcrumb {
  background-color: white !important;
}


.carousel {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 6px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}


.carousel-image {
  height: 400px;
  max-height: calc(40vw - 20px);
  width: auto;
  margin: 0 auto !important;
}

.arrow-col {
  margin: auto !important;
  padding: 0 !important;
}

.arrow-button {
  box-shadow: none !important;
  margin: auto !important;
  padding: 0 !important;
}

.carousel-arrow {
  margin: auto !important;
  color: #a3a3a3;
}

.arrow-button:hover {
  color: #787878;
}

.image-index {
  margin: 20px auto 6px;
  width: 384px;
  max-width: 75% !important;
}


.ui.menu {
  border: none;
  box-shadow: none;
}

.menu-button {
  color: #a3a3a3 !important;
  width: 12.5% !important;
}

.menu-button:hover {
  color: #787878 !important;
}

.menu-button-active {
  color: #4998de !important;
  width: 12.5%;
}

.ui.menu .item {
  margin: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ui.menu .item>i.icon {
  margin: auto !important;
}

.open-app-btn {
  font-size: 16px;
  color: #4998de;
  margin: 40px auto 0;
  text-align: center;
}

.project-page-text {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 12px;
  color: black;
  font-size: 16px;
  font-size: calc(14px + 0.1vw);
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}



/* Animations */

.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}


@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
